#root {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 5rem;
  height: 600px;
}

#btn-primary {
  padding: 0.5rem 2rem;
  color: #fff;
  background-color: #4285F4;
  border: none;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
}